/*.profile-sidebar {
    background-color: #343a40;
    color: white;
    height: 100%;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 0;
  }
  
  .profile-sidebar .list-group-item {
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .profile-sidebar .list-group-item:hover {
    background-color: #495057;
  }
  
  .profile-sidebar .logout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .profile-sidebar .logout-btn:hover {
    background-color: #c82333;
  }
*/  